*{
	margin: 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;

	background: linear-gradient(90sdeg, rgb(135, 135, 220), rgb(101, 182, 182));
	height: 100vh;
	user-select: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.field{
	display: grid;
	grid-template-columns: repeat(10, auto);
	grid-template-rows: repeat(20, auto) ;
	/* background-color: blue; */
	padding: 0.5hv;
	border-radius: 0.5vh;
}

.field li {
	width: min(4vh, 7vw);
	height: min(4vh, 7vw);
	background-color: rgb(136, 136, 237);
	border-radius: 0.3hv;
	box-shadow: inset 2px 2px 2px rgb(75, 73, 73);
				/* inset -2px -2px -2px rgb(91, 80, 80,0.5); */
}

.field .O {
	background-color: rgb(197, 219, 135);
}

.field .L {
	background-color: rgb(219, 166, 135);
}