
.field{
	display: grid;
	grid-template-columns: repeat(10, auto);
	grid-template-rows: repeat(20, auto) ;
	background-color: var(--color-bgr);
	padding: 2px;
	border-radius: 10px;
}

.field li {
	width: 26px;
	height: 26px;
	border-radius: 3px;
}

.field .O,
.field-next .O {
	background-color: rgb(255, 255, 0);
	box-shadow: inset -8px 8px 15px rgba(160, 160, 160, 0.5); 
}

.field .T,
.field-next .T {
	background-color: rgb(195, 0, 255);
	box-shadow: inset -8px 8px 15px rgba(255, 255, 255, 0.5); 
}

.field .L,
.field-next .L {
	background-color: rgb(206, 159, 29);
	box-shadow: inset -8px 8px 15px rgba(255, 255, 255, 0.5); 
}

.field .Lr,
.field-next .Lr {
	background-color: rgb(0, 0, 255);
	box-shadow: inset -8px 8px 15px rgba(255, 255, 255, 0.5); 
}

.field .S,
.field-next .S {
	background-color: rgb(0, 255, 0);
	box-shadow: inset -8px 8px 15px rgba(160, 160, 160, 0.5); 
}

.field .Sr,
.field-next .Sr {
	background-color: rgb(255, 0, 0);
	box-shadow: inset -8px 8px 15px rgba(255, 255, 255, 0.5); 
}

.field .I,
.field-next .I {
	background-color: rgb(0, 225, 255);
	box-shadow: inset -8px 8px 15px rgba(160, 160, 160, 0.5);  
}
