.field-result {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;

	position: absolute;
	top: 6px;
	left: 35%;
	width: 70px;
	height: 32px;
	padding: 4px;

	border: var(--border-style);
	border-radius: 8px;
	background-color: var(--color-bgr-body);
}


