.result-panel {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	position: relative;
	padding-top: 40px;
}

.result {
	display: flex;
	flex-direction: column;
	width: 240px;
	padding: 40px 10px;
	gap: 20px;
	font-weight: bold;
	font-size: 30px;
	border: var(--border-style);
	border-radius: 20px;
	background-color: var(--color-bgr);
}

.calculation {
	display: flex;
	align-items: center;
	padding: 4px 4px 4px 12px;
	border: var(--border-style);
	border-radius: 12px;
	background-color: var(--color-bgr-body);
}

.name-score {
	display: block;
	width: 140px;
}

.value-score {
	display: flex;
	width: 80px;
	justify-content: center;
}
