*{
	margin: 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;

	background: linear-gradient(90sdeg, rgb(135, 135, 220), rgb(101, 182, 182));
	height: 100vh;
	user-select: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.tetris {
	display: flex;
}

.result {
	width: 200px;
	padding: 10px;
	font-weight: bold;
	font-size: 30px;
	border: 1px solid red;
}

/* .calculation {
	width: 40px;
} */


.control-panel {
	display: flex;
	flex-direction: column;
}

.general-control {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;

	padding: 10px;
	gap: 20px;

	/* width: 500px; */
	/* height: 240px; */
	border: 1px solid red;
}

.general-control .btn {
	display: inline-block;
	min-width: 120px;
	height: 40px;
	padding: 8px;

	border-radius: 8px;
	border: none;
	background-color: rgb(109, 154, 213);
	
	font-weight: bold;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: #000000;

	cursor: pointer;
}
/* ========================= */
.game-control{
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	gap: 20px;

	padding: 20px;
}

.other-control {
	border: 1px solid red;
	display: flex;
	flex-direction: column;

	padding: 10px;
	gap: 30px;
}

.main-control {
	border: 1px solid red;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;

	width: 150px;
	/* display: grid; */
	/* grid-template-columns: repeat(2, 100px);
	grid-template-rows: repeat(3, 70px) ; */
	transform: rotate(45deg);
}
/* ========================= */
.other-control .btn {
	width: 60px;
	height: 60px;
	border-radius: 50%;

	cursor: pointer;
}

.main-control .btn	{
	width: 60px;
	height: 60px;
	border-radius: 50%;

	cursor: pointer;
}

.field{
	display: grid;
	grid-template-columns: repeat(10, auto);
	grid-template-rows: repeat(20, auto) ;
	background-color:  rgba(56, 65, 66, 0.138);
	padding: 2px;
	border-radius: 2px;
}

.field-next {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 80px;
	gap:5;
	background-color:  rgba(56, 65, 66, 0.138);
}

.field-next li {
	width: 18px;
	height: 18px;
	/* background-color: rgba(98, 98, 155, 0.611); */
	border-radius: 1px;
}

.field li {
	width: 26px;
	height: 26px;
	background-color: rgba(98, 98, 155, 0.611);
	border-radius: 2px;
	/* box-shadow: inset 4px 4px 8px rgb(116, 43, 207, 0.2),
							inset -4px -4px 8px rgb(116, 43, 207, 0.2); */
}

.field .O,
.field-next .O {
	background-color: rgb(255, 255, 0);
	box-shadow: inset -8px 8px 15px rgba(160, 160, 160, 0.5); 
	/* box-shadow: inset -4px -4px 0px rgba(210, 210, 0, 0.2),
							inset 4px 4px 0px rgba(210, 210, 0, 0.2);		 */
}

.field .T,
.field-next .T {
	background-color: rgb(195, 0, 255);
	box-shadow: inset -8px 8px 15px rgba(255, 255, 255, 0.5); 
	/* box-shadow: inset -4px -4px 0px rgba(155, 0, 210, 0.2),
							inset 4px 4px 0px rgba(155, 0, 210, 0.2);	 */
}

.field .L,
.field-next .L {
	background-color: rgb(206, 159, 29);
	box-shadow: inset -8px 8px 15px rgba(255, 255, 255, 0.5); 
	/* box-shadow: inset -4px -4px 0px rgba(166, 119, 0, 0.2),
							inset 4px 4px 0px rgba(166, 119, 0, 0.2);	 */
}

.field .Lr,
.field-next .Lr {
	background-color: rgb(0, 0, 255);
	box-shadow: inset -8px 8px 15px rgba(255, 255, 255, 0.5); 
	/* box-shadow: inset -4px -4px 0px rgba(0, 0, 210, 0.2),
							inset 4px 4px 0px rgba(0, 0, 210, 0.2);		 */
}

.field .S,
.field-next .S {
	background-color: rgb(0, 255, 0);
	box-shadow: inset -8px 8px 15px rgba(160, 160, 160, 0.5); 
           /* inset 10px 10px 15px rgba(70, 70, 70, 0.12); */
	/* box-shadow: inset -4px -4px 0px rgba(0, 210, 0, 0.2),
							inset 4px 4px 0px rgba(0, 210, 0, 0.2);		 */
}

.field .Sr,
.field-next .Sr {
	background-color: rgb(255, 0, 0);
	box-shadow: inset -8px 8px 15px rgba(255, 255, 255, 0.5); 
	/* box-shadow: inset -4px -4px 0px rgba(210, 0, 0, 0.2),
							inset 4px 4px 0px rgba(210, 0, 0, 0.2); */
}

.field .I,
.field-next .I {
	background-color: rgb(0, 225, 255);
	box-shadow: inset -8px 8px 15px rgba(160, 160, 160, 0.5);  
	/* box-shadow: inset -4px -4px 0px rgba(0, 210, 210, 0.2),
							inset 4px 4px 0px rgba(0, 210, 210, 0.2);		 */
}